<html>
<head>
<title>D:\uploadedFiles\ba8e5e51162ecdecc4e1fe5cbc9d7-a1216966213ca5e2\p1e5pj23oq1p3ai47vf91gd6j994.pdf</title>
<style type="text/css">
body { font-family: Arial; font-size: 22.2px }
.pos { position: absolute; z-index: 0; left: 0px; top: 0px }
</style>
</head>
<body>
<nobr><nowrap>
<div class="pos" id="_0:0" style="top:0">
<img name="_1100:850" src="page_001.jpg" height="1100" width="850" border="0" usemap="#Map"></div>
<div class="pos" id="_125:98" style="top:98;left:125">
<span id="_16.3" style=" font-family:Symbol; font-size:16.3px; color:#000000">
<li type="square"><span style=" font-family:Arial"> SURAT PERJANJIAN</span></span>
</div>
<div class="pos" id="_269:147" style="top:147;left:269">
<span id="_14.8" style="font-weight:bold; font-family:Arial; font-size:14.8px; color:#000000">
Koperasi Mahasiswa Universitas Padjadjaran</span>
</div>
<div class="pos" id="_342:170" style="top:170;left:342">
<span id="_16.3" style="font-weight:bold; font-family:Times New Roman; font-size:16.3px; color:#212121">
SURAT PERJANJIAN</span>
</div>
<div class="pos" id="_100:192" style="top:192;left:100">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
Yang bertanda tangan dibawah ini :</span>
</div>
<div class="pos" id="_105:235" style="top:235;left:105">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Nama</span>
</div>
<div class="pos" id="_249:235" style="top:235;left:249">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
: Adisti</span>
</div>
<div class="pos" id="_105:257" style="top:257;left:105">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
No Identitas</span>
</div>
<div class="pos" id="_249:257" style="top:257;left:249">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
: 14214215136</span>
</div>
<div class="pos" id="_105:279" style="top:279;left:105">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Alamat</span>
</div>
<div class="pos" id="_249:279" style="top:279;left:249">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
: Jl cikoang 50</span>
</div>
<div class="pos" id="_105:301" style="top:301;left:105">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
No. Handphone</span>
</div>
<div class="pos" id="_249:301" style="top:301;left:249">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
: 083282918879</span>
</div>
<div class="pos" id="_100:323" style="top:323;left:100">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
Selanjutnya nama tersebut di atas disebut sebagai Pihak I (pertama)</span>
</div>
<div class="pos" id="_100:366" style="top:366;left:100">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
Telah mengadakan jual beli dengan :</span>
</div>
<div class="pos" id="_105:409" style="top:409;left:105">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Nama</span>
</div>
<div class="pos" id="_248:409" style="top:409;left:248">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
: Doni</span>
</div>
<div class="pos" id="_105:431" style="top:431;left:105">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Jabatan </span>
</div>
<div class="pos" id="_248:431" style="top:431;left:248">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
: Staff Usaha KOPMA Unpad</span>
</div>
<div class="pos" id="_105:453" style="top:453;left:105">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Alamat</span>
</div>
<div class="pos" id="_248:453" style="top:453;left:248">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
: Pedca Timur, dekat kantor Kas Bank BRI depan Bale wilasa 6</span>
</div>
<div class="pos" id="_105:475" style="top:475;left:105">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
No. Handphone</span>
</div>
<div class="pos" id="_248:475" style="top:475;left:248">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
: 0832983998</span>
</div>
<div class="pos" id="_100:497" style="top:497;left:100">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
Selanjutnya nama tersebut di atas sebagai Pihak II ( Kedua )</span>
</div>
<div class="pos" id="_100:540" style="top:540;left:100">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
Dengan ini menyatakan bahwa Pihak I (Pertama) melakukan pembelian berupa:</span>
</div>
<div class="pos" id="_118:585" style="top:585;left:118">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
No.</span>
</div>
<div class="pos" id="_183:585" style="top:585;left:183">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
Nama Barang</span>
</div>
<div class="pos" id="_317:585" style="top:585;left:317">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
Jumlah Barang</span>
</div>
<div class="pos" id="_457:585" style="top:585;left:457">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
Harga</span>
</div>
<div class="pos" id="_572:585" style="top:585;left:572">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
Total Pembelian</span>
</div>
<div class="pos" id="_124:624" style="top:624;left:124">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
1.</span>
</div>
<div class="pos" id="_206:624" style="top:624;left:206">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
Sticker</span>
</div>
<div class="pos" id="_354:624" style="top:624;left:354">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
500</span>
</div>
<div class="pos" id="_447:624" style="top:624;left:447">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
Rp 3,000</span>
</div>
<div class="pos" id="_588:624" style="top:624;left:588">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
Rp 150,000</span>
</div>
<div class="pos" id="_100:724" style="top:724;left:100">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
Pihak I (Pertama) berjanji akan melakukan pembayaran pada tanggal 20 April 2020 kepada </span>
</div>
<div class="pos" id="_100:746" style="top:746;left:100">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
Pihak II (kedua) dan jika perjanjian dilanggar maka akan diberlakukan denda Rp50,000/hari dan </span>
</div>
<div class="pos" id="_100:768" style="top:768;left:100">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
akan diakumuluasikan dengan jumlah piutang yang dimiliki oleh Pihak I (Pertama).</span>
</div>
<div class="pos" id="_100:811" style="top:811;left:100">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
Sumedang, 11 April 2020</span>
</div>
<div class="pos" id="_100:854" style="top:854;left:100">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
Pihak Pertama,</span>
</div>
<div class="pos" id="_450:854" style="top:854;left:450">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
Pihak Kedua,</span>
</div>
<div class="pos" id="_100:897" style="top:897;left:100">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
Materai 6000</span>
</div>
<div class="pos" id="_450:897" style="top:897;left:450">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
 </span>
</div>
<div class="pos" id="_100:940" style="top:940;left:100">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
Adisti</span>
</div>
<div class="pos" id="_450:940" style="top:940;left:450">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#212121">
Doni (KOPMA Unpad)</span>
</div>
<div class="pos" id="_0:0" style="top:1100">
<img name="_1100:850" src="page_002.jpg" height="1100" width="850" border="0" usemap="#Map"></div>
<div class="pos" id="_125:1269" style="top:1269;left:125">
<span id="_16.3" style=" font-family:Symbol; font-size:16.3px; color:#000000">
<li type="square"><span style=" font-family:Arial"> SALES INVOICE</span></span>
</div>
<div class="pos" id="_269:1348" style="top:1348;left:269">
<span id="_14.8" style="font-weight:bold; font-family:Arial; font-size:14.8px; color:#000000">
Koperasi Mahasiswa Universitas Padjadjaran</span>
</div>
<div class="pos" id="_373:1369" style="top:1369;left:373">
<span id="_14.3" style="font-weight:bold; font-family:Arial; font-size:14.3px; color:#000000">
SALES INVOICE</span>
</div>
<div class="pos" id="_200:1430" style="top:1430;left:200">
<span id="_15.0" style="font-weight:bold; font-family:Arial; font-size:15.0px; color:#000000">
Nama Pembeli</span>
</div>
<div class="pos" id="_450:1429" style="top:1429;left:450">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
: adisti</span>
</div>
<div class="pos" id="_200:1450" style="top:1450;left:200">
<span id="_14.6" style="font-weight:bold; font-family:Arial; font-size:14.6px; color:#000000">
Tanggal Transaksi</span>
</div>
<div class="pos" id="_400:1450" style="top:1450;left:400">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
  </span>
</div>
<div class="pos" id="_450:1450" style="top:1450;left:450">
<span id="_15.8" style=" font-family:Times New Roman; font-size:15.8px; color:#000000">
: 11 April 2020</span>
</div>
<div class="pos" id="_200:1470" style="top:1470;left:200">
<span id="_14.8" style="font-weight:bold; font-family:Arial; font-size:14.8px; color:#000000">
Nomor Transaksi<span style="font-weight:normal; font-family:Times New Roman"> </span></span>
</div>
<div class="pos" id="_450:1470" style="top:1470;left:450">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
: 1</span>
</div>
<div class="pos" id="_200:1490" style="top:1490;left:200">
<span id="_15.4" style="font-weight:bold; font-family:Arial; font-size:15.4px; color:#000000">
Tanggal Jatuh Tempo Pembayaran<span style="font-weight:normal; font-family:Times New Roman"> : (di setting aja 7 hari setelah tanggal </span></span>
</div>
<div class="pos" id="_200:1511" style="top:1511;left:200">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
transaksi)</span>
</div>
<div class="pos" id="_200:1551" style="top:1551;left:200">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Dengan rincian barang sebagai berikut : </span>
</div>
<div class="pos" id="_207:1593" style="top:1593;left:207">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
No.</span>
</div>
<div class="pos" id="_257:1593" style="top:1593;left:257">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Nama Barang</span>
</div>
<div class="pos" id="_375:1593" style="top:1593;left:375">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Jumlah Barang</span>
</div>
<div class="pos" id="_508:1593" style="top:1593;left:508">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Harga Barang </span>
</div>
<div class="pos" id="_669:1593" style="top:1593;left:669">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Total</span>
</div>
<div class="pos" id="_213:1614" style="top:1614;left:213">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
1.</span>
</div>
<div class="pos" id="_280:1614" style="top:1614;left:280">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Sticker</span>
</div>
<div class="pos" id="_412:1614" style="top:1614;left:412">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
500</span>
</div>
<div class="pos" id="_524:1614" style="top:1614;left:524">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Rp 3,000</span>
</div>
<div class="pos" id="_648:1614" style="top:1614;left:648">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Rp 150,000</span>
</div>
<div class="pos" id="_389:1677" style="top:1677;left:389">
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
TOTAL</span>
</div>
<div class="pos" id="_653:1677" style="top:1677;left:653">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
(otomatis </span>
</div>
<div class="pos" id="_637:1697" style="top:1697;left:637">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
jumlah total di </span>
</div>
<div class="pos" id="_652:1718" style="top:1718;left:652">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
kolom ini)</span>
</div>
<div class="pos" id="_600:1848" style="top:1848;left:600">
<span id="_15.5" style=" font-family:Times New Roman; font-size:15.5px; color:#000000">
Bagian Usaha KOPMA</span>
</div>
<div class="pos" id="_650:2004" style="top:2004;left:650">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
(BUDI)</span>
</div>
<div class="pos" id="_0:0" style="top:2200">
<img name="_1100:850" src="page_003.jpg" height="1100" width="850" border="0" usemap="#Map"></div>
<div class="pos" id="_125:2372" style="top:2372;left:125">
<span id="_16.2" style=" font-family:Symbol; font-size:16.2px; color:#000000">
<li type="square"><span style=" font-family:Times New Roman"> BUKTI PEMBAYARAN </span></span>
</div>
<div class="pos" id="_250:2422" style="top:2422;left:250">
<span id="_14.8" style="font-weight:bold; font-family:Arial; font-size:14.8px; color:#000000">
Koperasi Mahasiswa Universitas Padjadjaran</span>
</div>
<div class="pos" id="_351:2442" style="top:2442;left:351">
<span id="_14.8" style="font-weight:bold; font-family:Arial; font-size:14.8px; color:#000000">
BUKTI PEMBAYARAN </span>
</div>
<div class="pos" id="_149:2486" style="top:2486;left:149">
<span id="_15.0" style=" font-family:Times New Roman; font-size:15.0px; color:#000000">
Telah diterima pelunasan barang oleh :</span>
</div>
<div class="pos" id="_149:2524" style="top:2524;left:149">
<span id="_13.9" style="font-weight:bold; font-family:Arial; font-size:13.9px; color:#000000">
Nama Pembeli</span>
</div>
<div class="pos" id="_350:2523" style="top:2523;left:350">
<span id="_15.0" style=" font-family:Times New Roman; font-size:15.0px; color:#000000">
: adisti</span>
</div>
<div class="pos" id="_149:2542" style="top:2542;left:149">
<span id="_13.5" style="font-weight:bold; font-family:Arial; font-size:13.5px; color:#000000">
Tanggal Transaksi</span>
</div>
<div class="pos" id="_350:2542" style="top:2542;left:350">
<span id="_14.3" style=" font-family:Times New Roman; font-size:14.3px; color:#000000">
: 11 April 2020</span>
</div>
<div class="pos" id="_149:2561" style="top:2561;left:149">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
Nomor Transaksi<span style="font-weight:normal; font-family:Times New Roman"> </span></span>
</div>
<div class="pos" id="_350:2561" style="top:2561;left:350">
<span id="_15.0" style=" font-family:Times New Roman; font-size:15.0px; color:#000000">
: 1</span>
</div>
<div class="pos" id="_153:2625" style="top:2625;left:153">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
No.</span>
</div>
<div class="pos" id="_217:2625" style="top:2625;left:217">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Nama Barang</span>
</div>
<div class="pos" id="_357:2625" style="top:2625;left:357">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Jumlah Barang</span>
</div>
<div class="pos" id="_512:2625" style="top:2625;left:512">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Harga Barang </span>
</div>
<div class="pos" id="_696:2625" style="top:2625;left:696">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Total</span>
</div>
<div class="pos" id="_159:2649" style="top:2649;left:159">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
1.</span>
</div>
<div class="pos" id="_239:2649" style="top:2649;left:239">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Sticker</span>
</div>
<div class="pos" id="_394:2649" style="top:2649;left:394">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
500</span>
</div>
<div class="pos" id="_528:2649" style="top:2649;left:528">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Rp 3,000</span>
</div>
<div class="pos" id="_675:2649" style="top:2649;left:675">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Rp 150,000</span>
</div>
<div class="pos" id="_369:2721" style="top:2721;left:369">
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
TOTAL</span>
</div>
<div class="pos" id="_656:2721" style="top:2721;left:656">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
(otomatis jumlah </span>
</div>
<div class="pos" id="_654:2741" style="top:2741;left:654">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
total di kolom ini)</span>
</div>
<div class="pos" id="_300:2881" style="top:2881;left:300">
<span id="_15.5" style=" font-family:Times New Roman; font-size:15.5px; color:#000000">
Bagian Usaha KOPMA</span>
</div>
<div class="pos" id="_599:2881" style="top:2881;left:599">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
Pembeli </span>
</div>
<div class="pos" id="_350:3014" style="top:3014;left:350">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
(BUDI)</span>
</div>
<div class="pos" id="_600:3014" style="top:3014;left:600">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
(Adisti)</span>
</div>
</nowrap></nobr>
</body>
</html>
